.card.shadow-sm.p-4.m-3.blog-container
  By #{article.user.username}
  = link_to article.title, article_path(article), class: 'hover-primary text-decoration-none text-center fs-3 '
  .text-center.my-2= article.description
  .d-flex.justify-content-center.align-items-center
    = link_to 'Edit', edit_article_path(article), class: 'btn btn-primary text-white me-2'
    = button_to 'Delete', article_path(article), :method => 'delete', class: 'btn btn-primary ms-2'
